.quantity-picker {
    display: inline-block;
    border:1px solid #dfdfdf;
    border-radius: 3px;
    vertical-align:middle;
  }
  .quantity-input:focus {
    background: red;
  }
  
  .quantity-modifier,
  .quantity-display {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
  }
  
  .quantity-modifier {
    height: 100%;
    width: 25px;
    font-size: 16px;
    background: #f3f3f3;
    color: #444;
    border: 0 solid #dbdbdb;
    text-align: center;
    cursor: pointer;
    margin:3px;
  }
  .quantity-modifier:hover {
    background: #dadada;
    color: #555555;
  }
  
  .quantity-modifier:focus {
    outline:0;
  }
  
  .left-modifier {
    border-radius: 3px 0 0 3px;
  }
  
  .mod-disable {
    color:#bbb;
  }
  
  .mod-disable:hover {
    background-color: #f3f3f3 !important;
    color:#bbb;
  }
  
  .right-modifier {
    border-radius: 0 3px 3px 0;
  }
  
  .quantity-display {
    width: 30px;
    font-size: 20px;
    border: 0;
    border-top: 0 solid #dbdbdb;
    border-bottom: 0 solid #dbdbdb;
    text-align: center;
  }